# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/

# Jupyter
.ipynb_checkpoints/

# Cache
.cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/
